<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ramadan.skyguard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SkyGuard Drone</name>
    <icon src="icon.png" />

    <platform name="android">
        <icon src="icon.png" />
    </platform>
    <description>
        Tactile Controller App for SkyGuard Industrial Drone.
    </description>
    <author email="ramadan@skyguard.com" href="http://skyguard.com">
        Ramadan Kamal &amp; SkyGuard Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" /> <preference name="Fullscreen" value="true" /> </widget>
